$primary-main: #5b5f97;
$primary-main-light: lighten($primary-main, 20%);

$bg-light: #ffffff;
$bg-dark: #303035;

$bg-paper-light: #ffffff;
$bg-paper-dark: #424248;

$text-light: #000000de;
$text-dark: #e6e6e6;

$accent: #ff7f50;

$main-radius: 5;

$input-border-dark: #ffffff3b;
$input-border-light: #0000003b;

$input-border-dark-hover: #e6e6e6;
$input-border-light-hover: #000000de;

:export {
  primaryMain: $primary-main;

  bgLight: $bg-light;
  bgDark: $bg-dark;

  bgPaperLight: $bg-paper-light;
  bgPaperDark: $bg-paper-dark;

  textLight: $text-light;
  textDark: $text-dark;

  accent: $accent;

  mainRadius: $main-radius;
}
